<div class="auth-container">
    <h1>Bem-vindo de volta!</h1>
    <p>Entre com seus dados de acesso</p>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="email"></label>
            <input type="email" name="email" placeholder="Insira seu e-mail" required>
        </div>
        <div class="form-control">
            <label for="password"></label>
            <input type="password" name="password" placeholder="Senha" required>
        </div>
        <input class="btn" type="submit" value="Entrar">
        <p>Ainda não possui uma conta? <a href="/register">Clique aqui!</a></p>
    </form>
</div>