<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immuni - Gerenciador de Vacinas</title>
    <link rel="shortcut icon" href="/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet"> --}}
</head>
<body>
    <nav id="navbar">
        <a href="/" id="logo">
            <img src="/img/logo.png" alt="Logo do Immuni">
        </a>
        <ul>
            <li><a href="/">Página Inicial</a></li>
            <li><a href="#about">Sobre</a></li>
            <li><a href="/vacinas">Vacinas</a></li>
            <!-- URLs após autenticação -->
            {{# if session.userId}}
                <li><a href="/registrar-vacina">Registrar Vacinação</a></li>
                <li><a href="/logout" class="btn-logout">Logout</a></li>
            {{else}}
                <li><a href="/login" class="btn-nav">Login</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container">
        <!-- Mensagens -->
        {{#if messages.error_msg}}
            <div class="message error">
                {{messages.error_msg}}
            </div>
        {{/if}}

        {{#if messages.success_msg}}
            <div class="message success">
                {{messages.success_msg}}
            </div>
        {{/if}}

        {{{body}}}
    </div>
    <footer>
        <p><span>Immuni</span> &copy; 2025 - Todos os direitos reservados.</p>
    </footer>
</body>
</html>