<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Immuni - Seu gerenciador de vacinas!</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="content">
        <div class="text-content">
            <h1>Realize o <span>monitoramento</span></h1>
            <h1>das suas vacinas!</h1>
            <div class="buttons">
                <a href="#about" class="button">Saiba Mais</a>
                <a href="/cadastro" class="button cadastro">Cadastre-se</a>
            </div>
        </div>
        <img src="/img/doutor-lp.png" alt="Imagem de um médico">
    </div>
</body>
</html>