<div class="container text-center mt-5">
  <h1>500 - Erro no servidor</h1>
  <p>Algo deu errado no nosso lado. Tente novamente mais tarde.</p>
  <a href="/" class="btn btn-primary">Voltar à página inicial</a>
</div>